# Izinkan file tertentu saja
<FilesMatch "^(googled9fd22f2eeb484dd\.html|google9f1806ec578c1b99\.html|robots\.txt|index\.php)$">
    Require all granted
</FilesMatch>

# Blokir semua file lain
<FilesMatch ".*">
    Require all denied
</FilesMatch>
